cover 90%
cover 92.5% in JP
cover 92.5% in US
cover 90% in DE
cover 90% in ES
cover 90% in FR
cover 90% in GB
cover 90% in IT
cover 90% in NL
cover 90% in RU
cover 85% in KR
cover 85% in TW
cover 80% in CN

not dead

last 4 Chrome versions
last 4 Edge versions
last 4 Firefox versions
last 4 Opera versions
last 4 Safari versions

Firefox ESR
IE >= 10

not Chrome < 80
not Edge < 18
not Firefox < 70
not Opera < 60
not Safari < 10
not Samsung < 10
not ios_saf < 10
not android < 4.4
