cover 90%
cover 90% in AU
cover 90% in DE
cover 90% in ES
cover 90% in FR
cover 90% in GB
cover 90% in IT
cover 90% in JP
cover 90% in NL
cover 90% in US
cover 85% in KR
cover 85% in MO
cover 85% in RU
cover 85% in TW
cover 80% in CN

# temporary ignore
not Chrome >= 1
not Edge >= 1
not Firefox >= 1
not Opera >= 1
not Safari >= 1
not Samsung >= 1
not android <= 4.4.4
not ie >= 1
not ios_saf >= 1

Firefox ESR

last 4 Chrome versions
last 4 Edge versions
last 4 Firefox versions
last 4 Opera versions
last 4 Safari versions
last 4 Samsung versions
last 4 ios_saf versions
