.DS_Store
.buildpath
.idea
.project
.settings
/config/amazon-s3.php
/config/backup-gpg.php
/config/backup-s3.php
/config/backup-secret.php
/config/cookie-secret.php
/config/db.php
/config/debug-ips.php
/config/google-adsense.php
/config/google-analytics.php
/config/google-recaptcha.php
/config/lepton.php
/config/twitter.php
/node_modules
/phpunit.xml
/resources/.compiled
/resources/dseg/*.zip
/vendor
/web/images
/web/profile-images
/web/static-assets/cc
Thumbs.db
composer.phar
nbproject
phpunit.phar
