*.tmp
.DS_Store
.buildpath
.idea
.project
.settings
/.maintenance
/.production
/.staging
/config/amazon-s3.php
/config/asset-revision.php
/config/authkey-secret.php
/config/backup-gpg.php
/config/backup-s3.php
/config/backup-secret.php
/config/cloudflare/ip_ranges.php
/config/cookie-secret.php
/config/db.php
/config/debug-ips.php
/config/deepl.php
/config/git-revision.php
/config/google-adsense.php
/config/google-analytics.php
/config/google-recaptcha.php
/config/img-s3.php
/config/lepton.php
/config/twitter.php
/config/version.php
/data/GeoIP
/data/licenses-composer
/data/licenses-npm
/messages/*.php
/node_modules
/phpunit.xml
/resources/.compiled
/resources/app-link-logos/*.br
/resources/app-link-logos/*.gz
/resources/app-link-logos/*.min.svg
/resources/dseg/*.tar.gz
/resources/dseg/*.zip
/salmon*
/test*.jpg
/test*.php
/test*.png
/vendor
/views/includes/sponsored.php
/web/images
/web/profile-images
Thumbs.db
composer.phar
nbproject
phpunit.phar
