includes:
  - vendor/proget-hq/phpstan-yii2/extension.neon

parameters:
  level: 1

  checkMissingIterableValueType: false

  paths:
    - ./
  
  excludePaths:
    - ./bin/
    - ./data/
    - ./deploy.php
    - ./doc/
    - ./docker/
    - ./node_modules/
    - ./requirements.php
    - ./resources/
    - ./runtime/
    - ./tests/
    - ./vendor/
  
  scanFiles:
    - vendor/yiisoft/yii2/Yii.php

  typeAliases:
    URL: 'string|array{0: string}'

  yii2:
    config_path: %rootDir%/../../../config/web.php
  
  dynamicConstantNames:
    - YII_DEBUG
    - YII_ENV
    - YII_ENV_DEV
    - YII_ENV_PROD
    - YII_ENV_TEST
  
  tmpDir: runtime/phpstan
