[Unit]
Description=Run stat.ink cache gc
After=paths.target multi-user.target network.target network-online.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=./yii cache/gc
SyslogIdentifier=statink-gc-cache
WorkingDirectory=/var/www/sites/stat.ink/app.dep/current
User=stat.ink
Group=stat.ink
