[Unit]
Description=Run stat.ink updater (timer)

[Timer]
OnCalendar=0..2,4..14,16..23:01/10
OnCalendar=3,15:31/10
Persistent=false
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
