[Unit]
Description=Run stat.ink blog-feed/crawl
After=paths.target multi-user.target network.target network-online.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=/var/www/sites/stat.ink/app.dep/current/yii blog-feed/crawl
SyslogIdentifier=statink-fetch-blog
WorkingDirectory=/var/www/sites/stat.ink/app.dep/current
User=stat.ink
Group=stat.ink
