[Unit]
Description=Run stat.ink stats updater
After=paths.target multi-user.target network.target network-online.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=./yii dl-stats3/create
SyslogIdentifier=statink-dl-stats3
WorkingDirectory=/var/www/sites/stat.ink/app.dep/current
User=stat.ink
Group=stat.ink
