[Unit]
Description=Run stat.ink stats updater
After=paths.target multi-user.target network.target network-online.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/scl enable php82 "./yii stat/update-ink-color3"
SyslogIdentifier=statink-stats-update-ink-color3
WorkingDirectory=/home/statink/stat.ink
User=statink
Group=statink
