@charset "UTF-8";

.cf() {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

    & {
        *zoom: 1;
    }
}

body {
    // body 上部にはナビバーが居るので適当に
    padding-top: 70px;
}

// フッター
footer {
    font-size: .618em;
    width: 100%;
    background-color: #f5f5f5;
    margin: .618em 0 0 0;
    padding: 1.618em 0;

    .footer-nav, .footer-notice, .footer-powered {
        margin-top: 0.618em;
    }
}

#social {
    height: 22px;
    margin-bottom: 20px;
}

.license-body {
    margin-left: 10%;
    margin-right: 5%;
}

ul.battles {
    .cf;
    display: block;
    list-style-type: none;
    width: 100%;
    margin: 15px 0;
    padding: 0;
    box-sizing: border-box;
    
    li {
        display: block;
        list-style-type: none;
        width: 260px;
        float: left;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 10px 10px 0;
        padding: 10px;

        .battle-image img {
            //width: 100%;
            //height: auto;
            width: 240px;
            height: (240px * 9 / 16);
        }
    }
}
