.ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  display: block;
}

.li {
  list-style-type: none;
  list-style-image: none;
  margin: 0 1em 0 0;
  padding: 0;
  display: inline-block;
}

.li::after {
  display: inline;
  content: "|";
  margin-left: 1em;
}

.li:last-child::after {
  display: none;
}

.alertLink {
  font-weight: normal !important;
}
